/*https://flatuicolors.com/palette/in (india)*/
:root{
	/*colour are sorted by colour type and paires*/
	--orchid-orange: #FEA47F;
	--rich-gardenia: #F97F51;
	--fiery-fuchsia: #B33771;
	--magenta-purple: #6D214F;
	--spiro-disco-ball: #25CCF7;
	--clear-chill: #1B9CFC;
	--bluebell: #3B3B98;
	--ending-navy-blue: #182C61;
	--honey-glow: #EAB543;
	--sarawak-white-pepper: #F8EFBA;
	--georgia-peach: #FD7272;
	--sasquatch-socks: #FC427B;
	--sweet-garden: #55E6C1;
	--keppel: #58B19F;
	--oasis-stream: #9AECDB;
	--pine-glade: #BDC581;
	--falling-star: #CAD3C8;
	--ships-officer: #2C3A47;
	--bright-ube: #D6A2E8;
	--highlighter-lavender: #82589F;
}