/*https://flatuicolors.com/palette/ca (canada)*/
:root{
	/*colour are sorted by colour type and paires*/
	--jigglypuff: #ff9ff3;
	--lian-hong-lotus-pink: #f368e0;
	--jade-dust: #00d2d3;
	--aqua-velvet: #01a3a4;
	--casandora-yellow: #feca57;
	--double-dragon-skin: #ff9f43;
	--joust-blue: #54a0ff;
	--bleu-de-france: #2e86de;
	--pastel-red: #ff6b6b;
	--amour: #ee5253;
	--nasu-purple: #5f27cd;
	--bluebell: #341f97;
	--megaman: #48dbfb;
	--cyanite: #0abde3;
	--light-blue-ballerina: #c8d6e5;
	--storm-petrel: #8395a7;
	--wild-caribbean-green: #1dd1a1;
	--dark-mountain-meadow: #10ac84;
	--fuel-town: #576574;
	--imperial-primer: #222f3e;
}